{% extends 'todo/base.html' %}

{% block content %}
    
    
    <div class="page">
        <div class="sec">
            <h1>My Diary</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'todo:create' %}" method="post">
        {% csrf_token %}
        <!-- Todo Name -->
        <div class="form-group">
            <label for="todo" class="col-sm-3 control-label">Date</label>
            <div class="col-sm-6">
                {{ form.date }}
            </div>
            
            <label for="todo" class="col-sm-3 control-label">Today's Story</label>
            <div class="col-sm-6">
                {{ form.body }}
            </div>
        </div>

        <!-- Add Todo Button -->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="w3-button w3-red">
                     Add story
                </button>
            </div>
        </div>

    </form>
    </div>
    </div>
    
    <div class="page">
        <div class="sec">
        
    <!-- Current Todos -->
    <h2>my story</h2>
    <table class="table table-striped todo-table">
       
        <tbody>
            {% for post in posts %}
                <tr>
                    <!-- Todo Name -->
                    <td>
                        <div>
                            <b>date</b>  : {{ post.date }}<br>
                            <b>story</b> : 
                            <div>
                                {{ post.body }}
                            </div>
                        </div>
                    </td>
                    <td>
                        <form action="{% url 'todo:delete' post.id %}" method="post">
                            {% csrf_token %}
                            <br>
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    
    
    
{% endblock %}